@font-face {
    font-family: "Gothic";
    src: url(./asset/CloisterBlackLight-axjg.ttf) ;
  }
  


body {
    margin: 0;
    background: lightblue;
    font-family: "Gothic", Times, serif !important;
    overflow: hidden;
    box-sizing: border-box;
}

.button {
    background: green;
    color: white;
    font-family: "Gothic", Times, serif;
    font-size: 100%;
    size: 150%;
}

#bird {
    width: 170px;
    height: 150px; 
    scale: 0.5;
    background: url("./asset/bird.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 45%;
    left: 45%;
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
}

#score {
    top: 75%;
    left: 50%;
    width: 1000px;
    height: 55px;
    padding: 2.5%;
    font-size: 60px;
    color: white;
    
}

#game_container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url("./asset/background.png") no-repeat center center;
    background-size: cover;
}

#start_button {
    position: absolute;
    padding: 0px;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 175px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Gothic", Times, serif;
    font-size: 75px;
    
}
.pipe {
    position: absolute;
    width: 60px;
    /*background-color: green;*/
    background: url("./asset/pipe.png") no-repeat center center;
    
}
.top_pipe {
    top: 0;
    /*border-bottom: darkgreen;*/
    background: url("./asset/pipe_Top.png") no-repeat center center;
}

.bottom_pipe {
    /*border-bottom: darkgreen;*/
    background: url("./asset/pipe_Bottom.png") no-repeat center center;
}

/*.pipe img {
    width: 100%;
    height: 100%;
}*/

#difficulty {
    position: absolute;
    padding: 10px;
    top: 85%;
    left: 47.5%;
    font-size: 16px;
    border-radius: 5px;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 55%;
    left: 45%;
    width: 300px;
    height: 200px;
    background-color: green;
    align-items: center;
}

#popup {
    font-family: "Gothic";
    position: absolute; 
    top: 55%;
    left: 50%;
    height: 250px;
    width: 350px;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    
    visibility: hidden;

}

#restart_button {
    font-family: "Gothic";
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 40%;
    top: 75%;
}

#gameOverText {
    font-family: "Gothic";
    font-size: 57px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

#finalScore {
    font-family: "Gothic";
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 5px;
}
